<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %></h3>
    <p><%= content %></p>
    <div>
      <form action="/memo/edit" method="post">
        <p>種別<input type="text" name="kind" value="<%= memoData.kind %>"></p>
        <p>ランク<select name="jpgpath" id="jpgpath" value="<%= memoData.jpgpath %>">
          <option value="1">ランク１</option>
          <option value="2">ランク２</option>
          <option value="3">ランク３</option>
          </select></p>
        <script>

          document.getElementById("jpgpath").value = "<%= memoData.jpgpath %>"


        </script>  
        <p>メモ内容：</p>
        <p></p><textarea name="text" ROWS=10 COLS=50  ><%= memoData.text %></textarea></p>
        <input type="hidden" name="id" value="<%= memoData.id %>">
        <p><input type="submit" value="更新"></p>
      </form>
      <form action="/memo" method="get">
        <p><input type="submit" value="取りやめ"></p>
      </form>
    </div>
  </body>
  </html>