<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h3><%= title %> <a href="/memo/top">メインへ戻る</a></h3>
    <div>
        <table border =\"3\">
        <% for(var i in content) { %>
        <tr>
          <% var obj = content[i]; %>
          <tbody><tr><td>  
            <td><font color="#0000ff"><%= obj.kind %></font></td>
            <td><%= obj.text %></td>
          <td><a href="/memo/edit?id=<%= obj.id %>">更新</a></td>
          <td><a href="/memo/delete?id=<%= obj.id %>">削除</a></td>
          <td><img src="../images/rank<%= obj.jpgpath %>.png"/></td>
        </tbody></tr></td>
        </tr>
      <% } %>
      </table>
    </div>
  </body>
</html>